// The template for any inheritable abstract class.
// Any class that allows children should support this template.
var <baseclassname> = function(child) {
  if !(child) { throw "Abstract class cannot be instantiated." }
  var _self = this;
  var _child = child;
  
  _self.init = function(obj) {
  
    // ... define all members here using obj.member syntax.
    obj.field1 = ko.observable();
    
  };
  
  // Instantiates fields and method to child.
  if (_child) { _self.init(_child); } 
};